body {
    font-family: 'Ubuntu Mono';
}

.floor {
    height: 100%;
    width: 100%;
    position: relative;
}

.header {
    height: auto;
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

div#error {
    position: absolute;
    top: -22px;
    left: 0;
    width: 135px;
    color: red;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background-color: lightgray;
    line-height: 149px;
    text-align: center;
    box-sizing: border-box;
    color: white;
    font-size: 52px;
    font-weight: 800;
    box-shadow: -11px -6px 6px 1px #aaaaaa;
}

.barWrap > div {
    display: inline-block;
}

.barWrap {
    position: relative;
    margin-top: 20px;
}

.spTitle {
    font-size: 33px;
}

.searchWrap {
    position: absolute;
    right: 0;
    width: 239px;
}

.searchBar {
    width: 200px;
    height: 27px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    position: relative;
}

input[type="text"] {
    border: none;
    font-size: 16px;
    height: 90%;
    width: 80%;
    padding-left: 10px;
}

.filterOptions {
    background-color: lightslategrey;
    color: white;
    padding: 6px;
}

div#filter {
    display: block;
    height: 25px;
    width: 25px;
    background-image: url("../images/sprite.png");
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid lightgray;
    background-repeat: no-repeat;
    background-position: -19px 3px;
    background-size: auto 21px;
}

.filterWrap {
    display: none;
}

div#seatingArrangement {
    border: 1px solid #aaaaaa;
    min-height: 400px;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 60px;
}
div#notification {
    width: 1024px;
    margin: 20px auto;
    color: steelblue;
    background-color: #eeeeee;
    padding: 6px;
}
.tablesWrap {
    height: 194px;
    width: 247px;
    position: relative;
    margin: 50px 47px;
    display: inline-block;
}

.tableSpread {
    display: block;
    height: 154px;
    width: 241px;
    background-color: lightgray;
    z-index: 10;
    position: relative;
    border: 2px solid white;
    border-radius: 11px;
    text-align: center;
    line-height: 154px;
    color: steelblue;
}

.chairOccupied, .chairEmpty {
    background-color: #aaaaaa;
    height: 49px;
    width: 48px;
    border-radius: 25px;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    -webkit-user-drag: element;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -webkit-user-drop: element;
}

.chairEmpty {
    background-color: whitesmoke;
}

.chair_0, .chair_1 {
    margin: 0px 37px;
    top: 28px;
    position: relative;
}

.chair_2, .chair_3 {
    position: absolute;
    bottom: -40px;
    margin: 0 37px;
    left: 0;
}

.chair_3 {
    left: 124px;
}

#eDetails {
    left: 100px;
    top: 290px;
    position: absolute;
    z-index: 110;
    background-color: white;
    border: 1px solid #aaaaaa;
    box-shadow: 1px 2px 3px 1px #aaaaaa;
    display: none;
}

.imgWrap {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: aliceblue;
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
    background-image: url("../images/thumbnail.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.nameDesig {
    float: left;
    margin-top: 9px;
}

.empDetails {
    width: 181px;
    position: relative;
    margin: 10px 0 10px 10px;
}

.team {
    clear: both;
}

.nameDesig > span {
    display: block;
}

span.desig {
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
}

span.ename {
    font-size: 16px;
    text-transform: capitalize;
}

.teamTitle, .ptitle {
    color: #aaaaaa;
    font-size: 11px;
    margin: 4px 0;
}

.team, .project {
    margin-left: 13px;
}

.rightArrow, .rightArrowBack {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    position: absolute;
    left: -10px;
    top: 10px;
}

.rightArrow {
    border-right: 10px solid #aaaaaa;
    left: -11px;
}

div#filterCont {
    position: absolute;
    right: 0;
    top: 29px;
    width: 239px;
    background-color: white;
    z-index: 100;
}

.filterOptions > div {
    display: inline-block;
    margin-right: 10px;
}

span#byteamCheck, #byjobtitlechk {
    height: 10px;
    width: 10px;
    border: 1px solid #aaaaaa;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
}

span#byjobtitlechk.selected {
    background-color: mediumaquamarine;
}

div#byTeams.selected > #byteamCheck {
    background-color: mediumaquamarine;
}

.teamName.selected, .desigName.selected {
    background-color: #eeeeee;
    color: palevioletred;
}

div#doFilter, #clearFilter {
    margin: 4px 0;
    background-color: lightslategrey;
    color: white;
    text-transform: capitalize;
    padding: 5px 7px;
    cursor: pointer;
    width: 100px;
    margin: 4px;
    border-radius: 5px;
}

.teamName, .desigName {
    cursor: pointer;
    margin: 7px;
}

.chairOccupied.selected {
    background-color: lightsteelblue;
}

.dropHere {
    background-color: whitesmoke;
}

#desigCol {
    display: none
}

.chair.dragging {
    background-color: red;
    opacity: .5;

}

.chair.denter {
    background-color: rgb(114, 157, 205);
    opacity: 0.7;
}

div#lens {
    position: absolute;
    right: 3px;
    top: 0;
    background-image: url("../images/sprite.png");
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: 9px 4px;
}

.pname {
    padding-left: 6px;
}